.DS_Store
Thumbs.db
*.psd
*.ai
*.xd
/db_data
/htdocs/*
!/htdocs/wp-content
/htdocs/wp-content/*
!/htdocs/wp-content/plugins
/htdocs/wp-content/plugins/index.php
!/htdocs/wp-content/themes
/htdocs/wp-content/themes/index.php
!/htdocs/wp-content/uploads
!.keep
/gitignore/
.sass-cache/
/node_modules/
/package-lock.json
/tmp/
/release.zip
/release/