@use "sass:math";
@use "../tool" as *;

/*
## .a_ignite_2
*/

.a_ignite_2 {
	&.is_animation {
		.a_fadein_1 {
			opacity: 1;
			&.is_b2t {
				transform: translateY(0) !important;
			}
			&.is_r2l {
				transform: translateX(0) !important;
			}
		}
	}
}


/*
## .a_ignite_1
このclass自体はアニメーションを持たない。
他のclassのアニメーションを発動させる役割。
*/
