<!doctype html>
<html <?php language_attributes(); ?>>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<?php wp_head(); ?>
</head>

<body id="top" <?php body_class(); ?>>

<div id="header" class="header_1">

</div>

<?php //wp_nav_menu( array( 'theme_location' => 'primary' ) ); ?>
