<?php get_header(); ?>

<?php if (have_posts()):
  while (have_posts()):
    the_post(); ?>
    <article class="article">
      <h1 class="h1">
        <?php the_title(); ?>
      </h1>
      <p class="article__meta">
        <time datetime="<?php echo esc_attr( get_the_date( 'Y-m-d' ) ); ?>"><?php echo esc_html( get_the_date() ); ?></time>
        <?php echo get_the_category_list( ', ' ); ?>
      </p>
      <div class="wp_content_1">
        <?php the_content(); ?>
      </div>
    </article>

    <nav class="post_nav_1">
      <p class="post_nav_1__prev"><?php previous_post_link( '%link', '« %title' ); ?></p>
      <p class="post_nav_1__next"><?php next_post_link( '%link', '%title »' ); ?></p>
    </nav>
  <?php endwhile; endif; ?>

<?php get_footer();
