@use "sass:math";
@use "../tool" as *;

/*
## .wp_content_1
*/

.wp_content_1 {
	
}

.wp-block-table {
	position: relative;
	@media (max-width: $breakpoint1) {
		overflow-x: auto;
	}
}

.wp-element-caption {
	text-align: center;
}

.wp-block-embed {
	&.alignright {
		margin-left: auto
	}
	&.aligncenter {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
	&.is-type-video:not(.wp-block-embed-tiktok) {
		.wp-block-embed__wrapper {
			position: relative;
			aspect-ratio: 16 / 9;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.wp-block-columns {
	@media (max-width: $breakpoint1) {
		display: block;
	}
}
