@use "sass:math";

$gothic: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;

$mincho: "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", 'Noto Serif JP', YuMincho, "游明朝体", "Yu Mincho", "游明朝", serif;

$mincho--bold: "Hiragino Mincho ProN W6", $mincho;


$breakpoint1: 767px;


$color1: #36e8ff;


$padding1--pc: 40px;


$site-width--pc: 1440;//px
$site-width--sp: 750;//px


@mixin fz($size: 16) {
	font-size: math.div($size, 10) + rem;
}

@function px2vw2($px){
	$px: math.div($px * 100, $site-width--sp);
	$px: round($px * 100);
	@return math.div($px, 100) * 1vw;
}

@function px2vw1($px){
	$px: math.div($px * 100, $site-width--pc);
	$px: round( $px * 100);
	@return math.div($px, 100) * 1vw;
}

@function clamp1($px){
	$vw: math.div($px * 100, $site-width--pc);
	$vw: round($vw * 100);
	$vw: math.div($vw, 100) * 1vw;
	$px_min: math.div($px, 1.2);
	$px_min: round($px_min);
	@if ( 0 > $px ) {
		@return clamp($px * 1px, $vw, $px_min * 1px);
	} @else {
		@return clamp($px_min * 1px, $vw, $px * 1px);
	}
}

@function min1($px){
	$vw: math.div($px * 100, $site-width--pc);
	$vw: round( $vw * 100);
	$vw: math.div($vw, 100) * 1vw;
	@return min($px * 1px, $vw);
}

@function max1($px){
	$vw: math.div($px * 100, $site-width--pc);
	$vw: round( $vw * 100);
	$vw: math.div($vw, 100) * 1vw;
	@return max($px * 1px, $vw);
}


$width1: 980px;
$width2: px2vw2(570);

$padding1--pc: 40px;
$padding1--sp: 2.67vw;//20px

$header_1__height--pc: 50px;
$header_1__height--sp: 50px;

$admin-bar_height: (
	pc: 32px,
	sp: 46px
);
